<footer id="footer">

  <div class="main-footer">
    <div class="container">
      <div class="ft-widget">
        <div class="row">
          <div class="col-md-6 col-lg-3">
            <div
              id="mc4wp_form_widget-2"
              class="widget widget_mc4wp_form_widget"
            ><h4 class="widget-title">Subscribe via Email</h4>
            
              <form
                id="mc4wp-form-1"
                class="mc4wp-form mc4wp-form-76"
                method="post"
                data-id="76"
                data-name="Subscribe via Email"
              ><div class="mc4wp-form-fields"><div class="newsletter-wrap">
                    <label>Subscribe to the Zobo newsletter to receive timely
                      updates from newsletter to receive timely updates from
                      texts would hardly be possible even now.</label>
                    <div class="form-newsletter">
                      <input
                        type="email"
                        name="EMAIL"
                        placeholder="Your email address"
                        required=""
                      />
                      <span><button type="submit">Sign up</button></span>
                    </div>
                  </div></div><label style="display: none !important;">Leave
                  this field empty if you're human:
                  <input
                    type="text"
                    name="_mc4wp_honeypot"
                    value=""
                    tabindex="-1"
                    autocomplete="off"
                  /></label><input
                  type="hidden"
                  name="_mc4wp_timestamp"
                  value="1639398107"
                /><input type="hidden" name="_mc4wp_form_id" value="76" /><input
                  type="hidden"
                  name="_mc4wp_form_element_id"
                  value="mc4wp-form-1"
                /><div
                  class="mc4wp-response"
                ></div></form><!-- / Mailchimp for WordPress Plugin --></div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div id="nav_menu-2" class="widget widget_nav_menu"><h4
                class="widget-title"
              >Userful Links</h4><div class="menu-userful-links-container"><ul
                  id="menu-userful-links"
                  class="menu"
                ><li
                    id="menu-item-77"
                    class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-77"
                  ><a
                      href="http://zobo.az-theme.net/"
                      aria-current="page"
                    >Home</a></li>
                  <li
                    id="menu-item-84"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-84"
                  ><a href="https://zobo.az-theme.net/about/">About</a></li>
                  <li
                    id="menu-item-83"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-83"
                  ><a href="https://zobo.az-theme.net/contact/">Contact</a></li>
                  <li
                    id="menu-item-85"
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-85"
                  ><a href="#">Terms</a></li>
                  <li
                    id="menu-item-86"
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-86"
                  ><a href="#">Privacy Policy</a></li>
                </ul></div></div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div id="categories-3" class="widget widget_categories"><h4
                class="widget-title"
              >Categories</h4>
              <ul>
                <li class="cat-item cat-item-35"><a
                    href="https://zobo.az-theme.net/category/design/"
                  >Design</a>
                  (2)
                </li>
                <li class="cat-item cat-item-18"><a
                    href="https://zobo.az-theme.net/category/featured/"
                  >Featured</a>
                  (3)
                </li>
                <li class="cat-item cat-item-34"><a
                    href="https://zobo.az-theme.net/category/food/"
                  >Food</a>
                  (2)
                </li>
                <li class="cat-item cat-item-16"><a
                    href="https://zobo.az-theme.net/category/lifestyle/"
                  >Lifestyle</a>
                  (9)
                </li>
                <li class="cat-item cat-item-17"><a
                    href="https://zobo.az-theme.net/category/travel/"
                  >Travel</a>
                  (8)
                </li>
              </ul>

            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div id="tag_cloud-2" class="widget widget_tag_cloud"><h4
                class="widget-title"
              >Tags</h4><div class="tagcloud"><a
                  href="https://zobo.az-theme.net/tag/coffee/"
                  class="tag-cloud-link tag-link-32 tag-link-position-1"
                  style="font-size: 8pt;"
                  aria-label="coffee (1 item)"
                >coffee<span class="tag-link-count"> (1)</span></a>
                <a
                  href="https://zobo.az-theme.net/tag/drink/"
                  class="tag-cloud-link tag-link-24 tag-link-position-2"
                  style="font-size: 11.6pt;"
                  aria-label="drink (2 items)"
                >drink<span class="tag-link-count"> (2)</span></a>
                <a
                  href="https://zobo.az-theme.net/tag/fatured/"
                  class="tag-cloud-link tag-link-22 tag-link-position-3"
                  style="font-size: 8pt;"
                  aria-label="fatured (1 item)"
                >fatured<span class="tag-link-count"> (1)</span></a>
                <a
                  href="https://zobo.az-theme.net/tag/featured/"
                  class="tag-cloud-link tag-link-19 tag-link-position-4"
                  style="font-size: 14pt;"
                  aria-label="featured (3 items)"
                >featured<span class="tag-link-count"> (3)</span></a>
                <a
                  href="https://zobo.az-theme.net/tag/food/"
                  class="tag-cloud-link tag-link-25 tag-link-position-5"
                  style="font-size: 11.6pt;"
                  aria-label="food (2 items)"
                >food<span class="tag-link-count"> (2)</span></a>
                <a
                  href="https://zobo.az-theme.net/tag/image/"
                  class="tag-cloud-link tag-link-23 tag-link-position-6"
                  style="font-size: 19pt;"
                  aria-label="image (6 items)"
                >image<span class="tag-link-count"> (6)</span></a>
                <a
                  href="https://zobo.az-theme.net/tag/lifestyle/"
                  class="tag-cloud-link tag-link-20 tag-link-position-7"
                  style="font-size: 21pt;"
                  aria-label="lifestyle (8 items)"
                >lifestyle<span class="tag-link-count"> (8)</span></a>
                <a
                  href="https://zobo.az-theme.net/tag/photo/"
                  class="tag-cloud-link tag-link-29 tag-link-position-8"
                  style="font-size: 8pt;"
                  aria-label="photo (1 item)"
                >photo<span class="tag-link-count"> (1)</span></a>
                <a
                  href="https://zobo.az-theme.net/tag/rose/"
                  class="tag-cloud-link tag-link-27 tag-link-position-9"
                  style="font-size: 8pt;"
                  aria-label="rose (1 item)"
                >rose<span class="tag-link-count"> (1)</span></a>
                <a
                  href="https://zobo.az-theme.net/tag/sea/"
                  class="tag-cloud-link tag-link-26 tag-link-position-10"
                  style="font-size: 8pt;"
                  aria-label="sea (1 item)"
                >sea<span class="tag-link-count"> (1)</span></a>
                <a
                  href="https://zobo.az-theme.net/tag/travel/"
                  class="tag-cloud-link tag-link-21 tag-link-position-11"
                  style="font-size: 22pt;"
                  aria-label="travel (9 items)"
                >travel<span class="tag-link-count"> (9)</span></a>
                <a
                  href="https://zobo.az-theme.net/tag/women/"
                  class="tag-cloud-link tag-link-28 tag-link-position-12"
                  style="font-size: 8pt;"
                  aria-label="women (1 item)"
                >women<span class="tag-link-count"> (1)</span></a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright">© 2021 - Zobo. All Rights Reserved. Designed &amp;
        Developed by
        <a href="https://az-theme.net/">AZ-Theme.Net</a></div>
    </div>
  </div>
</footer>