@import "./_includes/tags";
@import "./_includes/data";

.post__meta {
  margin-bottom: 65px;
}

.author-profile-image {
  border-radius: 100%;
}

.post-author {
  font-size: 12px;
  letter-spacing: 2px;
}

.post__title {
  line-height: 60px;
  font-size: 48px;
}

.post__content img {
  max-width: 100%;
  height: auto;
}
